<!-- footer -->
<footer>
    <div class="main-footer py-4 text-white">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h5 class="footer-header bg-danger text-uppercase">About US</h5>
            <hr class="bg-white" />
            <h5 class="footer-brand-name text-uppercase">Books Store</h5>
            <p class="footer-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem provident quos ut
              debitis libero iusto cupiditate dolor nisi numquam totam quam quia, atque odio maiores enim
              omnis assumenda quae ex!
            </p>
            <div class="footer-icons">
              <i class="fa-brands fa-facebook-square p-1"></i>
              <i class="fa-brands fa-twitter-square p-1"></i>
              <i class="fa-brands fa-instagram-square p-1"></i>
            </div>
          </div>
          <div class="col-sm-4 text-white">
            <h5 class="footer-header bg-danger  text-uppercase">Information</h5>
            <hr class="bg-white" />
            <ul class="footer-list">
              <li class="mb-3"><a href="#" class="footer-link">Home</a></li>
              <li class="mb-3"><a routerLink="/aboutus" class="footer-link">About US</a></li>
              <li class="mb-3"><a routerlink="/books" class="footer-link">Books</a></li>
              <li class="mb-3"><a routerLink="/contact" class="footer-link">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h5 class="footer-header bg-danger text-white text-uppercase">Our Store</h5>
            <hr class="bg-white" />
            <div class="footer-icon-group mb-2 me-2">
              <i class="fa-solid fa-location-dot p-2"></i>
              <span class="text-muted">14 Butwal,844</span>
            </div>
            <div class="footer-icon-group mb-3 me-2">
              <i class="fa-solid fa-phone p-2"></i>
              <span class="text-muted">9888801844</span>
            </div>
            <div class="footer-icon-group mb-3 me-2">
              <i class="fa-solid fa-envelope p-2"></i>
              <span class="text-muted">kkritima@outlook.com</span>
            </div>
            <div class="footer-icon-group mb-3 me-2">
              <i class="fa-solid fa-clock p-2"></i>
              <span class="text-muted">Sun-Sat:24hrs</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>