<nav class="navbar navbar-expand-lg align-items-center">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto  mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link clr" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clr" routerLink="/aboutus">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle clr" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Best Selling
          </a>
          <ul class="dropdown-menu clr">
            <li><a class="dropdown-item" routerLink="/novel">Novels</a></li>
            <li><a class="dropdown-item" routerLink="/ourbook">Biography</a></li>
            <li>
              <hr class="dropdown-divider"/>
            </li>
            <li><a class="dropdown-item text-primary" href="#">Story</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link clr clr" routerLink="/contact">Contact US</a>
        </li>
        <!-- ----- -->
        <li class="nav-item">
          <a class="nav-link  d-none d-lg-block brand">
            <!-- <img class="img-fluid logo" src="assets/storelogo3.png" alt="img"  /> -->
            <img class="img-fluid" src="assets/storelogo3.png" alt="img">
          </a>
        </li>
        <!-- </div> -->
        <!-- socialmedia -->


      </ul>


    </div>
    <div class="d-flex socialmedia">
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="https://www.instagram.com/">
          <i class="fa-brands fa-square-instagram fs-4"></i>
        </a>
      </li>
      <li class="nav-item  d-none d-lg-block">
        <a class="nav-link" href="https://twitter.com/">
          <i class="fa-brands mx-3 fa-square-twitter fs-4"></i>
        </a>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="https://www.facebook.com/">
          <i class="fa-brands fa-square-facebook fs-4 "></i>
        </a>
      </li>
    </div>
  </div>
</nav>