.navbar
{
    background-color:#b8c5cd;
    

    
}
.brand{
    margin-left: 277px;
    width: 4.4rem;
    height: 2.4rem;
    margin-top: -1rem
    // position: relative;
    // bottom: 10px;
    // left:200px ;
    
}
.socialmedia{
    display: flex;
    justify-content: flex-end;
}
.clr{
    color: #058cd4 ;
    font-weight: bold;

}
.fa-brands{

color: #058cd4 ;
}