.description
{
    background-color:#ebecf0 ;
}
.descriptionimgs
{
    height: 80%;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.brand-clr
{
    color:#0d8fd4;
    font-family:cursive;
}

.motto
{
    text-align: center;
    font-family:cursive;
}
.bg
{
    width: 100%;
}
.caption
{
   color: #5f1822;
   font-family:cursive;
}