.contact
{
    background-color:#ebecf0;
    background-repeat:no-repeat;
    background-size: cover;
}
.contact-form
{
    width:30%;
    margin:auto;
    
    cursor:pointer;
}
.reachus
{
    color:#0d8fd4;
    text-align: center;
    padding-top: 1rem;
}