
<!-- <section class="home" id="home">
  <img class="bg img-fluid"
    src="https://th.bing.com/th/id/R.cc3c992a960fd90741d08dbbea619297?rik=AS8MP7Zx5Wg6fQ&pid=ImgRaw&r=0">
</section> -->
<!-- about section starts -->
 <!-- <section class="description py-4" id="about">

  <div class="container ">
    <div class="row">
      <div class="col-sm-6 col-mx-auto col-sx-auto">
        <img class="descriptionimgs"
          src="https://th.bing.com/th/id/R.830ec270e6b0519bf34b6449c7ab05fc?rik=OLi7YO719w%2b9Rw&pid=ImgRaw&r=0"
          alt="store" height="340rem" width="400rem">
      </div>
      <div class="col-sm-6  col-mx-auto col-sx-auto descriptionimg">
        <h3>Earn some green!</h3>
        <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consequatur suscipit debitis voluptatem
          maxime. Dolores quas fugiat animi debitis expedita odit assumenda. Et architecto veritatis eius, reiciendis
          adipisci magnam? Cupiditate!</P>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit optio, voluptates quia suscipit corporis vel
          minus eaque ad esse repellat exercitationem voluptas distinctio tempore iste natus impedit dignissimos rerum
          libero.Magni consequatur suscipitEt architecto veritatis eius, reiciendis.</p>
      </div>

    </div>

  </div>
</section>
<br> -->

<!-- 0bjective -->
<!-- <div class=" container">
  <div class="row">
    <h5 class="motto text-danger">"Let’s be reasonable and add an eighth day to the week that is devoted exclusively to
      reading."</h5>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class=" col-lg-2 col-mx-auto col-sx-auto">
      <img src="assets/storelogo3.png" alt="img" height="100px" width="100px">
    </div>
    <div class="col-lg-9 col-mx-auto col-sx-auto">
      <h2 class="caption">Lorem ipsum</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quas quisquam perspiciatis nihil iste
        perferendis dicta quidem laboriosam veniam corrupti consequuntur vel animi, eligendi, esse qui repellat,
        doloribus delectus debitis.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur corporis doloribus veritatis, facilis culpa
        dolor vitae officiis dolorum nemo! Nulla at sequi voluptatem laudantium ad commodi. Dolore numquam iusto libero.
      </p>
    </div>
  </div> -->
 
